*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* * {
    outline: 1px solid #f00 !important;
} */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    hyphenate-limit-chars: auto 5 5;
}

body {
    font-family: "Funnel Display", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 1.8rem;
    box-sizing: border-box;
    background: linear-gradient(
        150deg,
        #2b2e4a,
        #3e345e,
        #57386e,
        #723b78,
        #903c7a,
        #af3d73,
        #cd3f63,
        #e84545
    );
}

.main__canvas {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    /* background: linear-gradient(
        150deg,
        #2b2e4a,
        #3e345e,
        #57386e,
        #723b78,
        #903c7a,
        #af3d73,
        #cd3f63,
        #e84545
    ); */
    color: white;
}

.u-generic-wrapper {
    margin: 0 auto;
    max-width: 105rem;
    width: 100%;

    margin-bottom: 3rem;
}

.u-generic-wrapper-margin {
    margin: 0 3rem;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 5rem;
    text-align: center;

    h1 {
        font-size: 5rem;

        @media only screen and (max-width: 600px) {
            font-size: 4rem;
        }
    }
}

.header-img {
    width: 25rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: 600px) {
        width: 10rem;
        max-width: 10rem;
    }
}

.header-img img {
    width: 100%;

    @media only screen and (max-width: 600px) {
        width: 10rem;
        max-width: 10rem;
    }
}

.news__container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem;
    font-style: italic;
}

.news__content {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: news 10s linear infinite;
    color: yellow;
    font-size: 2.5rem;
    text-transform: uppercase;
}

@keyframes news {
    0% {
        /* transform: translateX(100%); */
        transform: translate3d(0, 0, 0);
    }

    100% {
        /* transform: translateX(-100%); */
        transform: translate3d(-100%, 0, 0);
    }
}

.tournament__wrapper {
    margin-bottom: 5rem;

    @media only screen and (max-width: 600px) {
        margin-bottom: 3rem;
    }
}

.tournament__label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;

    @media (hover: none) and (pointer: coarse) {
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
}

.tournament__label--icon {
    position: relative;
    display: block;
    width: 2.5rem !important;
    height: 2.5rem !important;
    flex-shrink: 0;
}

.tournament__label--icon::after {
    position: absolute;
    content: "";
    inset: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("assets/icons/plus.svg");
    background-size: 2.5rem;
}

.tournament__checkbox {
    display: none;
}

.tournament__checkbox:checked + .tournament__label {
    .tournament__label--icon {
        &::after {
            background-image: url("assets/icons/minus.svg");
        }
    }
}
.tournament__checkbox:checked ~ .tournament__table {
    display: block;
    opacity: 1;
    overflow: visible;
    max-height: 100%;
    overflow-x: auto;
}

.tournament__table {
    display: none;
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;

    th {
        font-size: 1.8rem;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.tournament__info {
    margin-bottom: 2rem;
}

.tournament__placement {
    text-align: center;
}

.swiper-slide__wrapper {
    display: flex;
    justify-content: center;
}

.swiper-slide__wrapper img {
    object-fit: cover;
    width: 70%;
    height: auto;
    margin: 0 auto;

    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

.tournament__imgs {
    margin: 2rem 0 8rem;

    @media only screen and (max-width: 600px) {
        margin: 2rem 0 4rem;
    }
}

.swiper-pagination-bullet {
    background: white !important;
}

.swiper-pagination-bullet-active {
    background: rgba(white, 0.5) !important;
}

.swiper-wrapper {
    padding-bottom: 40px;
}

.swiper-slide {
    height: unset !important;
    margin: auto 0;
}

.pagination {
    position: absolute;
    bottom: 0 !important;
}

/* .swiper-button-next,
.swiper-button-prev {
    border-radius: 50%;
    width: 4rem !important;
    height: 4rem !important;
    background: linear-gradient(
        150deg,
        #2b2e4a,
        #3e345e,
        #57386e,
        #723b78,
        #903c7a,
        #af3d73,
        #cd3f63,
        #e84545
    );

    @media only screen and (max-width: 600px) {
        width: 2rem !important;
        height: 2rem !important;
    }

    &::after {
        font-size: 2rem !important;
        font-weight: bold !important;
        color: white;

        @media only screen and (max-width: 600px) {
            font-size: 1rem !important;
        }
    }
} */

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid white;
}

th,
td {
    padding: 1rem;
}
